@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-UltraLight.eot');
    src: url('../fonts/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-UltraLight.woff2') format('woff2'),
        url('../fonts/Gilroy-UltraLight.woff') format('woff'),
        url('../fonts/Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.eot');
    src: url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff'),
        url('../fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.eot');
    src: url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
        url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
        url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

* {
	box-sizing: border-box;
    color: #fff;
}

body {
	font-family: 'Gilroy';
}

button,
button:hover,
button:focus {
	font-family: inherit;
	outline: none;
	border: none;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2 {
	font-weight: 800;
	font-size: calc(30px + 40 * (100vw / 1920));
    line-height: calc(45px + 35 * (100vw / 1920));
    padding: 0;
	margin: 0;
}

p {
	font-weight: 200;
	font-size: 22px;
	line-height: 33px;
}

a {
	text-decoration: none;
}

.section {
    width: 100vw;
    height: 100vh;
}

.bg {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../images/main-bg.gif) no-repeat center center;
    background-size: cover;
    position: relative;
}

.blur {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}

.container {
	width: 90vw;
	height: 100%;
	margin: 0 auto;
}

/* Main Page */

header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../images/main-bg.gif) no-repeat center center;
    background-size: cover;
}

/* nav */

.nav-wrapper {
    display: flex;
    margin-top: 40px;
}

.nav-list {
    display: flex;
}

.media-list {
    display: flex;
}

.nav-list__item a {
    font-weight: 400;
    font-size: calc(13px + 2 * (100vw / 1920));
    line-height: 23px;
    margin-right: 30px;
    transition: all 0.3s linear;
}

.nav-list__item a:hover {
    color: #89FF96;
    transition: all 0.3s linear;
}

.media-list__item {
    margin-right: 30px;
}

/* offer */

.offer-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

.offer {
    display: flex;
}

.offer__span {
    font-weight: 200;
    font-size: calc(30px + 40 * (100vw / 1920));
    line-height: calc(45px + 35 * (100vw / 1920));
    color: rgba(255, 255, 255, 0.5);
}

.offer__span_business {
    writing-mode: vertical-rl;
    padding-top: 0.5%;
}

.offer__span_name {
    font-weight: 800;
    font-size: calc(37px + 50 * (100vw / 1920));
    line-height: calc(60px + 47 * (100vw / 1920));
    color: #fff;
}

/* Second Page */