@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-UltraLight.eot');
    src: url('../fonts/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-UltraLight.woff2') format('woff2'),
        url('../fonts/Gilroy-UltraLight.woff') format('woff'),
        url('../fonts/Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.eot');
    src: url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff'),
        url('../fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.eot');
    src: url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
        url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
        url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

* {
	box-sizing: border-box;
    color: #fff;
}

body {
	font-family: 'Gilroy';
}

button,
button:hover,
button:focus {
	font-family: inherit;
	outline: none;
	border: none;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2 {
	font-weight: 800;
	font-size: 70px;
	line-height: 85px;
}

p {
	font-weight: 200;
	font-size: 22px;
	line-height: 33px;
}

a {
	text-decoration: none;
}

.container {
	width: 90vw;
	height: 100%;
	margin: 0 auto;
}

/* Main Page */

header {
    width: 100%;
    height: 100vh;
    background: rgb(207, 207, 207);
}

/* nav */

.nav-wrapper {
    display: flex;
    margin-top: 40px;
}

.nav-list {
    display: flex;
    margin-right: 40px;
}

.media-list {
    display: flex;
}

.nav-list__item {
    margin-right: 30px;
}

.media-list__item {
    margin-right: 30px;
}

/* offer */

.offer {
    display: flex;
    max-width: 1270px;
}

.title-span {
    font-weight: 250;
    font-size: 50px;
    line-height: 57px;
}

.title-span_name {
    font-weight: 800;
    font-size: 87px;
    line-height: 107px;
}

/* Second Page */

.section {
    width: 100%;
    height: 100vh;
}